<a href="https://colab.research.google.com/github/Paulina1010/Projekt-INWD/blob/main/Projekt_INWD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lista rzeczy do wykonania:
 - pozmieniać typ zmiennych (boolean tak gdzie to potrzebne (yes/no)) - P (wt) **wykonano**
 - nazwać ładnie kolumny - P (wt) **wykonano**
 - zrobić wykresy rozkładu dla najważniejszych zmiennych - I (śr)
 - zrobić wykresy z korelacją - I (śr)
 - jakiś boxplot - P
 - wykres, w którym dwa histogramy nakładają się na siebie (lab V, VI Seaborn lub matplotlib) - I
 - wykres, w którym dwa rozkłady są nałożone na siebie (lab V, VI) - P
 - jakiś wykres zbiorczy, na którym pokażemy wiele wykresów - służy do pokazania korelacji
 - grupowanie - P
 - jakiś pivot - I
 - po jednym interaktywnym wykresie na głowę - I, P

In [16]:
!git clone https://github.com/Paulina1010/Projekt-INWD.git

fatal: destination path 'Projekt-INWD' already exists and is not an empty directory.

In [18]:
!ls

drive  Projekt-INWD  sample_data

In [17]:
import pandas as pd
import numpy as np
import seaborn as sns

Wczytanie danych.

In [20]:
dane = pd.read_csv('https://raw.githubusercontent.com/Paulina1010/Projekt-INWD/main/student-mat.csv', sep =";")
print(dane)

    school sex  age address famsize Pstatus  ...  Walc  health absences  G1  G2  G3
0       GP   F   18       U     GT3       A  ...     1       3        6   5   6   6
1       GP   F   17       U     GT3       T  ...     1       3        4   5   5   6
2       GP   F   15       U     LE3       T  ...     3       3       10   7   8  10
3       GP   F   15       U     GT3       T  ...     1       5        2  15  14  15
4       GP   F   16       U     GT3       T  ...     2       5        4   6  10  10
..     ...  ..  ...     ...     ...     ...  ...   ...     ...      ...  ..  ..  ..
390     MS   M   20       U     LE3       A  ...     5       4       11   9   9   9
391     MS   M   17       U     LE3       T  ...     4       2        3  14  16  16
392     MS   M   21       R     GT3       T  ...     3       3        3  10   8   7
393     MS   M   18       R     LE3       T  ...     4       5        0  11  12  10
394     MS   M   19       U     LE3       T  ...     3       5        5   8   9   9

[395 rows x 33 columns]

In [21]:
dane.head(10)

  school sex  age address famsize Pstatus  ...  Walc  health absences  G1  G2  G3
0     GP   F   18       U     GT3       A  ...     1       3        6   5   6   6
1     GP   F   17       U     GT3       T  ...     1       3        4   5   5   6
2     GP   F   15       U     LE3       T  ...     3       3       10   7   8  10
3     GP   F   15       U     GT3       T  ...     1       5        2  15  14  15
4     GP   F   16       U     GT3       T  ...     2       5        4   6  10  10
5     GP   M   16       U     LE3       T  ...     2       5       10  15  15  15
6     GP   M   16       U     LE3       T  ...     1       3        0  12  12  11
7     GP   F   17       U     GT3       A  ...     1       1        6   6   5   6
8     GP   M   15       U     LE3       A  ...     1       1        0  16  18  19
9     GP   M   15       U     GT3       T  ...     1       5        0  14  15  15

[10 rows x 33 columns]

Sprawdzenie wielkości danych

In [ ]:
dane.shape

(395, 33)

Zbiór posiada 33 kolumny oraz 395 wierszy.

In [ ]:
dane = dane.rename(columns= {"school": "Szkoła", "sex": "Płeć", "age": "Wiek", "address": "Adres", "famsize": "WielkośćRodziny", "Pstatus": "StanCywilnyRodziców", "Medu": "WykształcenieMatki", "Fedu": "WykształcenieOjca", "Mjob": "PracaMatki", "Fjob": "PracaOjca", "reason": "PowódWyboruSzkoły", "guardian": "Opiekun", "traveltime": "CzasPodróżyDoSzkoły", "studytime": "CzasNaukiTygodniowo", "failures": "L_NiezaliczonychPrzedmiotów", "schoolsup": "WsparcieEdukacyjne", "famsup": "WsparcieRodziny", "paid": "PłatnaMatPortugal", "activities": "DodatkoweZajęcia", "nursery": "Przedszkole", "higher": "WyższeWykształcenie", "internet": "DostępDoInternetu", "romantic": "WZwiązku", "famrel": "RelacjeRodzinne", "freetime": "CzasWolny", "goout": "SpotkaniaZPrzyjaciółmi", "Dalc": "SpożycieAlkoholuTyg", "Walc": "SpożycieAlkoholuWek", "health": "Zdrowie", "absences": "Nieobecności", "G1": "PierwszaKlasa", "G2": "DrugaKlasa", "G3": "TrzeciaKlasa"})
dane

    Szkoła Płeć  Wiek  ... PierwszaKlasa DrugaKlasa TrzeciaKlasa
0       GP    F    18  ...             5          6            6
1       GP    F    17  ...             5          5            6
2       GP    F    15  ...             7          8           10
3       GP    F    15  ...            15         14           15
4       GP    F    16  ...             6         10           10
..     ...  ...   ...  ...           ...        ...          ...
390     MS    M    20  ...             9          9            9
391     MS    M    17  ...            14         16           16
392     MS    M    21  ...            10          8            7
393     MS    M    18  ...            11         12           10
394     MS    M    19  ...             8          9            9

[395 rows x 33 columns]

Sprawdzam jakiego typu są zmienne

In [ ]:
dane.dtypes

Zmiana typu wybranych zmiennych

In [ ]:
#Poniższe zmiennę są z odpowiedziami yes/no, więc zmieniam typ tech zmiennych na binarny.
dane['WsparcieEdukacyjne'] = dane['WsparcieEdukacyjne'].astype('bool')
dane['WsparcieRodziny'] = dane['WsparcieRodziny'].astype('bool')
dane['PłatnaMatPortugal'] = dane['PłatnaMatPortugal'].astype('bool')
dane['DodatkoweZajęcia'] = dane['DodatkoweZajęcia'].astype('bool')
dane['Przedszkole'] = dane['Przedszkole'].astype('bool')
dane['WyższeWykształcenie'] = dane['WyższeWykształcenie'].astype('bool')
dane['DostępDoInternetu'] = dane['DostępDoInternetu'].astype('bool')
dane['WZwiązku'] = dane['WZwiązku'].astype('bool')

In [ ]:
dane.corr(method = 'pearson')

In [ ]:
dane['Płeć'].value_counts()

Podstawowe statyski dla każdej z kolumn

In [ ]:
dane.describe(exclude = 'category') #wykluczyłam statystyki dla zmiennych kategorycznych
#trzeba zrobić tą tabelkę dla wybranych zmiennych, bo nie dla wszystkich jest sens np. liczyć średnią

In [ ]:
dane.agg({'Wiek': ['min', 'max', 'mean', 'median']})

In [ ]:
dane['Płeć'].hist()

In [ ]:
dane['Wiek'].hist()

In [ ]:
dane.plot(x = 'Wiek', y = 'Nieobecności', kind = 'scatter')

In [ ]:
dane.plot(x = 'Wiek', y = 'Nieobecności', kind = 'density')